In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("train_lending_club.csv")

In [4]:
data.describe()

,fico_range_low,total_acc,pub_rec,revol_util,annual_inc,int_rate,dti,mort_acc,loan_amnt,installment,pub_rec_bankruptcies,fico_range_high,revol_bal,id,open_acc,emp_length,loan_status,time_to_earliest_cr_line
count,236846.000000,236846.000000,236846.000000,236846.000000,2.368460e+05,236846.000000,236846.000000,236846.000000,236846.000000,236846.000000,236846.000000,236846.000000,2.368460e+05,2.368460e+05,236846.000000,236846.000000,236846.000000,2.368460e+05
mean,694.352132,25.573229,0.239354,52.846959,7.737953e+04,12.603168,18.533785,1.733278,14626.430888,441.924072,0.138330,698.352271,1.695626e+04,4.926939e+07,11.807512,5.990234,0.831591,5.264205e+05
std,30.932496,12.196168,0.673022,24.012425,7.729067e+04,4.482069,9.214702,2.044617,8611.590744,257.213087,0.391776,30.933176,2.382901e+04,2.098038e+07,5.592320,4.238357,0.374230,2.413121e+05
min,660.000000,2.000000,0.000000,0.000000,0.000000e+00,5.320000,0.000000,0.000000,1000.000000,14.770000,0.000000,664.000000,0.000000e+00,5.670500e+04,0.000000,0.000000,0.000000,9.711360e+04
25%,670.000000,17.000000,0.000000,35.000000,4.600000e+04,9.170000,12.050000,0.000000,8000.000000,254.070000,0.000000,674.000000,6.127000e+03,3.319150e+07,8.000000,2.000000,1.000000,3.603744e+05
50%,685.000000,24.000000,0.000000,53.000000,6.500000e+04,12.290000,17.890000,1.000000,12450.000000,378.200000,0.000000,689.000000,1.139900e+04,5.297922e+07,11.000000,6.000000,1.000000,4.784832e+05
75%,710.000000,32.000000,0.000000,71.200000,9.200000e+04,15.310000,24.520000,3.000000,20000.000000,588.367500,0.000000,714.000000,2.043100e+04,6.664553e+07,15.000000,11.000000,1.000000,6.470496e+05
max,845.000000,169.000000,86.000000,182.800000,9.573072e+06,30.990000,999.000000,47.000000,40000.000000,1534.880000,9.000000,850.000000,2.560703e+06,8.436346e+07,76.000000,11.000000,1.000000,2.240525e+06